body {
    height: 100vh;
    background-color: #1B1B1B;
}

.header {
    background-color: #292929;
    height: 15vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

.buttons:hover {
    opacity: 1
}

.createButton {
    transition-duration: 0.4s;
    background-color: #292929;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    margin-left: 50vw;
    color: white;
}

.createButton:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.link {
    background-color: #292929;
    height: 20vh;
    width: 30vw;
    margin: auto;
    margin-top: 15vh;
    color: white;
}

.gameType {
    color: white;
    margin-left: 23vw;
    font-size: 100px;
}

.tournamentType {
    margin-left: 400px;
}

.type {
    font-family: Saira, sans-serif;
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    width: calc(100% - 35px);
    margin-bottom: 2px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}

.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

@media (max-width: 710px) {
    .gridContainer {
        grid-template-columns: auto
    }
}