body {
    height: 100vh;
}

.loginBox {
    height: 35vh;
    width: 30vw;
    background-color: black;
    border-radius: 25px;
    margin: auto;
    margin-top: 200px;
}

.username {
    margin-left: 525px;
    background-color: white;
}

.usernameInput {
    border: none;
    border-bottom: 2px solid red;
}

.login {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25%;
    margin-left: 25%;
    flex-direction: column;
}

.register {
    width: 50%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
}